/*Pseudoclases*/
.desplegable:hover {
    text-transform: uppercase;
  }
  .dropdown-item:hover {
    background-color: rgb(248, 198, 144);
  }
  .link-nav:hover {
    background-color: rgb(233, 160, 26);
  }
  .icono_ingreso:hover {
    background-color: rgb(233, 160, 26);
  }
  img:hover {
    opacity: 1;
  }