@import url("https://fonts.googleapis.com/css2?family=Ruwudu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ruwudu:wght@500&display=swap");

@import "./reset";
@import "./variables";

/* Body en general */
body {
  background-color: $bgcolor;
}
/* Header */
body header {
  width: 100%;
}
.banner_promocion {
  background-color: rgb(248, 180, 107);
  border: 1px black solid;
  width: 100%;
}

h1 {
  font-weight: 600;
  color: $color-titulos;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
}
h3 {
  margin-top: 8px;
  text-decoration: underline;
  color: $color-titulos;
  text-align: center;
  font-family: "Ruwudu", serif;
  font-size: 50px;
}
.bienvenidos {
  text-align: center;
}
.arena {
  color: black;
  font-family: "Ruwudu", serif;
  font-size: 42px;
}

.navegacion {
  color: black;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  .navegacion_lateral {
    display: flex;
    justify-content: space-between;
    color: black;
    width: 31rem;
    height: 2rem;
    .desplegable {
    font-size: 20px;
    }
  }
}

.navegacion_ingreso {
  color: black;
  height: 2rem;
  width: 11rem;
  display: flex;
  justify-content: space-around;
  
}

/* MAIN, imagenes principalmente */
.categorias {
  display: flex;
  justify-content: space-around;
}
.categorias img {
  width: 380px;
  height: 380px;
}
.productos h2 {
  text-align: center;
}
iframe {
  position: relative;
  left: 42%;
}

.productos_destacados {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  div {
    width: 390px;
  }
  div p {
    margin-bottom: 1px;
    font-weight: bold;
  }
  div span {
    margin-left: 5px;
  }
  .tarjeta_articulo {
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
  }
  .color_negro {
    color: black;
  }
  .color_suela {
    -webkit-text-stroke: 1px black;
    color: chocolate;
  }
  .color_blanco {
    -webkit-text-stroke: 1px black;
    color: white;
  }
}
.productos_destacados img {
  height: 340px;
  width: 380px;
}
/*pagina ayuda*/
.consulta {
  display: flex;
  justify-content: center;
}
/* footer */
.navegacion_footer {
  text-align: center;
  .entes_bancarios {
    display: grid;
    grid-template-columns: repeat(12, auto);
  }
}
footer img {
  height: 30px;
}
.entes_bancarios {
  display: grid;
  grid-template-columns: repeat(12, auto);
}

/*estilos de paginas con productos */
.productos_general {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.productos_general img {
  border: 2px solid black;
  margin: 10px;
  height: 300px;
  width: 400px;
}
/* estilos pagina ayuda */
.mail{
  transform: translate(100px)
}
.btn{
  color: rgb(11, 192, 192)
}
@import "./pseudo";
@import "./queryes";

